PORT=5000
STREAM_API_KEY=prwvgyhbsutz
# Enter your Stream Chat API Secret from https://getstream.io/dashboard/
STREAM_API_SECRET=
# Optional: Enter your Google Gemini API Key from https://aistudio.google.com/
GEMINI_API_KEY=
